#experience ul {
    list-style:none;    
    padding:0;
}
#experience {
    background-color:#42DCA3;
}
#experience p{
    margin:3px;
    padding:3px;
}
#experience h6{
    margin:3px;
    color:black
}
#experience h3{
    margin:3px;
    color:black
}
a.nostyle{
    text-decoration: inherit;
    color: inherit;
    
}
a.nostyle:visited{
    text-decoration: inherit;
    color: inherit;
    
}