#experience ul{
    list-style:none;    
}
.experience-section{
    background-color:#42DCA3;
}
#experience p{
    margin:3px;
    padding:3px;
}
#experience h6{
    margin:3px;
    color:black
}
#experience h3{
    margin:3px;
    color:black
}